h1{
  font: monospace;
  text-align: center;
  color: rgb(115,92,134);
}
div{
  display: flex;
  margin: 20px;
  margin-block-end: 85px;
  overflow: hidden;
  border-radius: 30px;
  border: 2px solid;
  background-color: #e2e2e2;
}
#enter-task{
  border: none;
  outline: none;
  background: transparent;
  height: 40px;
  font-size: 18px;
  font-family: Courier New;
  flex-grow: 0.6;
  padding: 10px;
}

#add-task{
  height: 60px;
  border: none;
  outline: none;
  font-family: Times New Roman;
  padding: 10px;
  flex-grow: 0.4;
  background: #ff830e;
  border-radius: 30px;
  font-size: 18px;
}

ul{
  width: 95%;
}

li{
  list-style-type: none;
  margin-block-end: 15px;
  margin-inline: 10px;
  font-family: Times New Roman;
  font-size: 22px;
}

button{
  border: none;
  padding: 15px;
  background-color: #fd4e4ed9;
  font-size: 16.5px;
  border-radius: 10px;
  color: whitesmoke;
  margin-inline-start: 60px;
}


