h1{
  font: monospace;
  text-align: center;
  color: rgb(115,92,134);
}
div.holder-1{
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background: #cfcfcf60;
  margin:20px;
  margin-bottom: 85px;
  border-radius: 30px;
}
#enter-task{
  font: monospace;
  margin: 0px 1px 0px 0px;
  padding: 15px;
  flex-grow: 0.5;
  border: none;
  outline: none;
  font-size: 18.5px;
  background: transparent;
}
#add-task{
  padding: 15px;
  font-size: 20px;
  color: black;
  border-radius: 30px;
  border: 2px solid;
}
