
table.table-data{
  border-collapse: collapse;
  position: relative;
  margin-inline: auto;
}
table.table-data tr th{
  border-block: 1.5px solid #939393;
  background-color: #f2f2f2;
}

table.table-data tr td, table.table-data tr th{
  font-size: 1.2rem;
  padding: 0.5em;
  text-align: left;
  border-bottom: 1.5px solid #939393;
}

footer{
  margin-top: 10vh;
  text-align: center;
}
span#author{
  font-size: 1.4rem;
  font-weight: 500;
  color: #99c1ff;
}