li{
  list-style-type: none;
  margin-block: 15px;
  margin-inline-end: 10px;
  font-family: Monospace;
  font-size: 20px;
  
}
div{
  display: flex;
  background-color: #e2e2e2;
  margin: 20px;
  margin-block-end: 60px;
  padding: 10px;
  border-radius: 30px;
}
div input#addTask{
  flex-grow: 0.8;
  border: none;
  outline: none;
  height: 40px;
  background: transparent;
  font-size: 18px;
  font-family: Courier New;
}
div input#addTask-Button{
  border: none;
  outline: none;
  width: 100px;
  height: 40px;
  background: #ff830e;
  font-size: 18px;
  font-family: Courier New;
  padding: 10px;
  border-radius: 30px ; 
}

button{
  position: relative;
  border: none;
  background-color: #fd4e4ed9;
  padding: 15px;
  border-radius: 10px;
  font-size: 16px;
  color: white;
  margin-inline-start: 60px;
  
} 

ul#task-list{
  width: 280px;
}