body{
  padding: 15px;
  margin: 5px;
}
div.signup-form{
  display: grid;
  grid-template-columns: repeat(130px 4);
  grid-template-rows: repeat(100px 3);
  margin-inline: 15px;
  background-color: floralwhite;
  padding: 30px;
  border-radius: 10px;
}
h3.header{
  grid-column: 2/4;
  font-size: 25px;
  padding-right: 10px;
  color: grey;
}
.signup-form div{
  grid-column: 1/5;
  margin-bottom: 20px;
  
}
input{
  width: 250px;
  padding-block: 08px;
  border: 1.2px solid black;
  border-radius: 05px;
  font-size: 18px;
}
input#submit{
  width: 100px;
  padding: 15px;
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  background-color: rgb(1,8,250);
  color: white;
  line-height: 25px;
  font-family:  New Roman;
}
label{
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1.4px;
}

.valid{
  border: 2.5px solid rgb(0, 200,0);
}
.invalid{
  border: 2.5px solid rgb(200,0,0);
}