form{
  display: flex;
  flex-direction: column;
}
#opt1-holder, #opt2-holder, #opt3-holder{
  margin-block: 10px;
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
}
#queHolder{
  font-size: 18px;
  padding: 10px;
  margin-block: 10px;
}
button{
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  background-color: rgb(0,0,250);
  color: white;
  letter-spacing: 1.4px;
  font-weight: 500;
  margin-block: 10px;
  width: 100%;
  text-align: center;
}
div.Correct{
  border: 2px solid rgb(0,220,0);
}
div.Incorrect{
  border: 2px solid rgb(220,0,0);
}
.Completed{
  color: rgb(100,220,0);
  background-color: black;
  padding: 10px;
  margin-inline: 16px;
  text-align: center;
  font-size: 30px;
  letter-spacing: 2px;
}