:root{
  --primarycolor: #1b2041;
}

*{
  font-family: Tahoma;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  & nav.navbar{
    display: flex;
    gap: 2rem;
    color: var(--primarycolor);
    
    & h3{
      padding: 1rem ;
      margin-block: 1rem;
      margin-inline-start: 1.5rem;
      font-size: 1.5rem;
      font-weight: 650;
      color: var(--primarycolor);
    }
    & div{
      display: flex;
      gap: 0.5rem;
      justify-content: center;
      align-items: center;
      border: 1px solid grey;
      border-radius: 10px;
      padding: 0.3rem ;
      margin-block: 1rem;
      font-size: 1.05rem;
      font-weight: 550;
    }
  }
  & img#hero-banner{
    width: 50vw;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -5;
  }
}

section.hero-section{
  color: var(--primarycolor);
  & h1{
    font-size: 3rem;
    font-weight: 700;
    /* margin-inline: 1.5rem; */
    margin-inline-start: 2.5rem;
    margin-block-start: 4rem;
    margin-block-end: 2rem;
  }
  & div{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    margin-inline-start: 2.5rem;
    margin-bottom: 1.5rem;
    & img{
      margin-inline-start: 10px;
    }
  }
  & button{
    border: none;
    outline: none;
    padding: 1rem 1.2rem;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 15px;
    color: white;
    background-color: #1b2041;
    margin-inline-start: 2.5rem;
  }
}
section.target{
  & #target-img{
    width: 90vw;
    margin-inline: 5vw;
    margin-block: 2.5rem 3.6rem;
    object-fit: cover;
  }
  & h2{
    font-size: 4rem;
    margin-block-end: 1rem;
    margin-left: 2rem;
  }
  & p#target-para{
    color: #b0b0b0;
    font-size: 1.3rem;
    margin-left: 2rem;
    letter-spacing: 0.07rem;
    margin-bottom: 1.8rem;
  }
  & div.parent{
    display: flex;
    font-size: 15px;
    margin-left: 2rem;
    padding: 10px 20px;
    margin-block-end: 1rem;
    background-color: #cce8fd;
    border-radius: 15px;
    width: 160px;
    
    & img{
      aspect-ratio: 1/1;
    }
    & div{
      display: flex;
      flex-direction: column;
      color: #ccc;
      margin-left: 15px;
      & p.para-2{
        font-size: 1rem;
        color: var(--primarycolor);
        font-weight: 550;
      }
    }
  }
}
.mid-section{
  & h3{
    font-size: 2.8rem;
    margin-left: 1rem;
    transform: translateY(6.8rem);
  }
  & img#mid-section-bg{
    position: absolute;
    left: 0;
    z-index: -10;
    width: 100vw;
  }
  & .container{
    margin-top: 9rem;
    margin-left: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-column-gap: 15px;
    
    & div{
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
    & #div-2{
      margin-top: 3rem;
    }
  }
  & p.para{
    font-size: 1.4rem;
    font-weight: 450;
    color: #b1b2ff;
    padding: 1rem;
  }
  & div.content{
    display: flex;
    
    
    & div{
      margin-block: 1.5rem;
    }
    &  img{
      width: 80px
      height: auto;
      object-fit: contain; 
    }
    & div h2{
      font-size: 1.2rem;
      font-weight: 600;
      margin-block-end: 1.5rem;
    }
  }
}

section.tracking{
  
  & h1{
    font-size: 4.5rem;
    margin: 2rem 0;
    padding-inline: 1rem;
  }
  
  & p#tracking-para{
    font-size: 1.3rem;
    color: #ccc;
    padding: 1rem ;
    margin-block-end: 2rem;
  }
  & div.parent{
    display: flex;
    font-size: 15px;
    margin-left: 1rem;
    padding: 10px 20px;
    margin-block-end: 1rem;
    background-color: #cce8fd;
    border-radius: 15px;
    width: 160px;
    
  & img{
    aspect-ratio: 1/1;
  }
  & div{
    display: flex;
    flex-direction: column;
    color: #ccc;
    margin-left: 15px;
    & p.para-2{
      font-size: 1rem;
      color: var(--primarycolor);
      font-weight: 550;
    }

  }

  }
  & #calories, #companies{
    width: 90vw;
    margin-inline: 5vw;
    margin-block: 1.5rem;
  }
}


section.bottom{
  & div.one{
    & h1{
      font-size: 3rem;
      margin-block: 2rem;
      margin-inline: 1rem;
    }
    padding: 10px;
    & div.parent{
      
    display: flex;
    font-size: 15px;
    margin-left: 1rem;
    padding: 10px 20px;
    margin-block-end: 1rem;
    background-color: var(--primarycolor);
    border-radius: 15px;
    width: 160px;
    
    & img{
      aspect-ratio: 1/1;
    }
    & div{
      display: flex;
      flex-direction: column;
      color: #ccc;
      margin-left: 15px;
      & p.para-2{
        font-size: 1rem;
        color: white;
        font-weight: 550;
      }

    }
    }
  }
  border-radius: 15px;
  background-color: #cce8fd;
  margin-inline: 15px;
  & div{
    & img#free-section{
      width: 100%;
    }
  }
}