/*
Styles for home page
*/

@media only screen and (min-width: 350px) {
  body{
    background-color: #FAF9F6;
  }
  header{
    display: flex;
    height: 10vh;
    min-height: 10vh;
    max-height: 10vh;
    justify-content: space-between;
    align-content: center;
    margin-block-end: 15%;
    /* position: sticky;
    top: 0px;
    z-index: 1; */
  }
  header img#logo{
    width: 80px;
    max-height: 100px;
    min-width: 80px;
    max-width: 100px;
    border-radius: 50%;
    display: inline;
  }
  nav.nav{
    display: flex;
    width: 70%;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    
  }
  nav a.nav-items{
    /* position: relative;
    height: 100%;
    margin: auto; */
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    font-weight: 500;
    
  }
  nav a.nav-items:hover{
    background-color: #FFD700;
    font-weight: 600;
  }
  nav a.nav-items:active{
    background-color: #FFD700;
    font-weight: 600;
    padding: 0.9rem;
  }
  
  .anime-card{
    width: 320px;
    margin-block: 1.6rem;
    border-radius: 15px;
    box-shadow: 2px 2px 8px rgb(0,0,0);
    position: relative;
    margin-inline: auto;
  }
  .anime-card-img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: fill;
    
  }
/*   .anime-card-description{
  
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  
} */
  

  .anime-card-description, .anime-card-title, .anime-card-releaseDate, .read-more{
    
    padding: 0.4rem 1rem;
  }
  
  
  .anime-card-description {
    height: 60px;
    overflow: hidden;
    position: relative;
    font-size: 0.9em;
    color: #555;
    transition: height 0.3s ease;
}
  
  .anime-card-description.expanded {
      height: auto;
  }
  
  .read-more {
      color: #007BFF;
      text-decoration: none;
      font-size: 0.9em;
      cursor: pointer;
      display: block;
      margin-top: 5px;
  }

}