
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
 background-color: hsl(0,0%,8%);
 color: white;
}
section{
 display: flex;
 flex-direction: column;
 background-color: hsl(0,0%,12%);
 padding-inline: 5%;
 padding-block: 10%;
 justify-content: center;
 align-items: center;
 border-radius: 15px;
 height: 100vh;
}
/* div.container{
 display: flex;
 flex-direction: column;
 justify-content: center;
 
} */
img#profile{
 position: ;
 max-width: 200px;
 width:150px;
 border-radius: 50%;
 /* margin-left: 30%; */
}
h3.name, p.location{
 margin-left: 25%;
 margin-bottom: 10px;
}

h3.name{
 font-size: 1.8rem;
}
p.location{
 margin-bottom: 8%;
 font-size: 1.3rem;
 color: hsl(75,94%,57%);
}
p.role{
 font-size: 1.3rem;
 padding-left: 10px;
}
a.link{
 display: block;
 text-decoration: none;
 width: 100%;
 text-align: center;
 background-color: hsl(0,0%,20%);
 padding-block: 5%;
 margin-block: 2%;
 border-radius: 15px;
 color: white;
 font-size: 1.2rem;
 font-weight: 500;
}
a.link:hover{
 background-color: hsl(75,94%,57%);
 font-weight: 600;
 color: black;
}
a.link:active{
 background-color: hsl(75,94%,57%);
 font-weight: 600;
 color: black;
}
   

/* @media only screen and (min-width: 768px) {
  body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding-top: 30em;
  }
  section{
    width: 450px;
    height: 40%;
    margin-inline: 18%;
  }
} */
@media only screen and (min-width: 1200px) {
  body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 100vh;
    padding-top: 0px;
  }
  section{
    width: 450px;
    /* margin-inline: 18%; */
    height: 46%;
  }
}