@keyframes slideInRight{
  from{
    transform: translateX(0vw);
  }
  to{
    transform: translateX(100vw);
  }
}


button.btn{
  font-size: 1.05rem;
  font-weight: 490;
  color: white;
  background-color: #87c;
  box-shadow: 0px 0px 10px #87c;
  border: none;
  outline: none;
  padding: 20px;
  border-radius: 15px;
  position: fixed;
  top: 45vh;
  left: 38vw;
  /* transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  transition-delay: 0s; */
  transition: background-color 0.7s linear, font-size 0.5s linear;
}
.btn:hover{
  font-size: 1.2rem;
  background-color: #FF6F61;
  box-shadow: 0px 0px 10px #ff6f61;
  transform: skew(20deg, 10deg);
  transform: scale(1.5);
}
h1{
  /* transition-property: background-color, color;
  transition-duration: 0.8s;
  transition-timing-function: linear;
  transition-delay: 0s; */
  transition: all 0.7s linear;
  
  animation-name: slideInRight;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  
}
h1:hover{
  background-color: #ff6f15;
  border-radius: 10px;
  padding: 10px;
  color: white;
}
h1::before{
  content: "#";
  color: orange;
}
h1::after{
  content: "!!";
  color: #FF6F61;
}