
h1, h2{
  text-align: center;
  color: rgba(0,5,46,0.793);
  text-transform: capitalize;
  margin-block: 1.3rem;
}
h2{
  font-size: 1.8rem;
  font-weight: 700;
}

p{
  font-size: 1.1rem;
  color: rgba(0,5,46,0.793);
  line-height: 1.6rem;
}
p.opening-para{
  padding: 10px;
  
  text-align: justify;
}